.bg-purple {
  background-color: #800080;
}
.glow-card {
  box-shadow: 0 0 20px #FF7F00;
  transition: box-shadow 0.3s;
  background-color: bisque;
}

.glow-card:hover {
  box-shadow: 0 0 30px #FF7F00;
}

.edit-button {
  background-color: #FF7F00;
  color: white;
  font-family: "Syne";
  box-shadow: 0 0 20px #FF7F00;
}

.delete-button {
  background-color: #FF4500;
  color: white;
  font-family: "Syne";
  box-shadow: 0 0 20px #FF4500;
}

.user-avatar {
  width: 70px;
  border-radius: 50%;
}
.submit-button {
  background-color: #FFA500;
  color: white;
  font-family: "Syne", sans-serif;
  animation: glowing 1.5s infinite;
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 5px #FFA500;
  }
  50% {
    box-shadow: 0 0 20px #FFA500;
  }
  100% {
    box-shadow: 0 0 5px #FFA500;
  }
}
